.path {
	height: 30px;
	border-bottom: solid 1px #EEEEEE;
	line-height: 30px;
	color: #333;
}

.rightnav {
	width: 222px;
	min-height: 200px;
	padding-top: 10px;
}

.rightlist {
	width: 900px;
	min-height: 200px;
	position: absolute;
	right: 0;
	top: 60px;
	border: solid 1px #eee;
	padding: 10px;
}

.rightnav a {
	display: block;
	text-decoration: none;
	color: #333;
	height: 36px;
	line-height: 36px;
	border: solid 1px #eee;
	border-top: 0;
	padding-left: 10px;
}

.rightnav a:hover {
	background-color: #333333;
	color: #fff;
}

.rightlist ul {
	list-style: none;
}

.rightlist ul li {
	border-bottom: dashed 1px #eee;
	position: relative;
}

.rightlist ul li a {
	text-decoration: none;
	line-height: 30px;
	color: #333;
}

.rightlist ul li span {
	position: absolute;
	right: 2px;
	top: 3px;
}



.div1 {
	width: 250px;
}

.div2 {
	position: fixed;
	_position: absolute;
	top: 0;
	z-index: 999;
}